{{- $vpns := sort (index .Site.Data "vpns" "vpns") "score" "desc" -}}
<div class="vpn-list">
    {{ range $index, $vpn := $vpns }}
        <a href="{{ $vpn.website }}" target="_blank" rel="noopener noreferrer" class="block bg-white rounded-lg p-6 mb-4 shadow-lg grid grid-cols-1 md:grid-cols-4 gap-4 items-center relative hover:bg-gray-100">
            <div class="absolute top-0 left-0 bg-[#bdf4e2] p-2 rounded-br-lg font-bold text-gray-800">
                {{ if eq $index 0 }}1 / Best VPN Overall{{ else }}{{ add $index 1 }}{{ end }}
            </div>
            <div class="flex flex-col items-center justify-center pt-6 md:col-span-1">
                <img src="/images/{{ $vpn.logo }}" alt="{{ $vpn.name }} Logo" loading="lazy" class="h-12 mb-2">
                <div class="flex justify-center items-center text-yellow-400 text-xl">
                    ★★★★★
                </div>
                <p class="text-xs text-gray-500 mt-1">Review Rating</p>
            </div>
            <div class="md:col-span-2 text-gray-700">
                <p class="text-lg font-medium text-gray-800 mb-2" style="font-size: 1rem; line-height: 1.5rem;">
                    {{ $vpn.opinion }}
                </p>
                <ul>
                    {{ range $vpn.features }}
                        <li class="flex items-center">
                            <svg class="h-5 w-5 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7"></path></svg>
                            {{ . }}
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="flex flex-col items-center sm:items-end md:col-span-1">
                <div class="bg-blue-500 text-white text-2xl font-bold py-2 px-4 rounded mb-2 w-full text-center">
                    {{ $vpn.score }}
                </div>
                <button onclick="event.stopPropagation()" class="bg-[#fd5522] text-white font-bold py-3 px-6 rounded hover:bg-orange-600 w-full text-center transition-colors duration-200">
                    Visit Site
                </button>
                <p class="text-sm text-gray-500 mt-2 text-center w-full">{{ $vpn.displayUrl }}</p>
            </div>
        </a>
    {{ end }}
</div>
